// 主题色
@primary-color: #3e88ef;
// 主要字体颜色
@text-color: rgba(0, 0, 0, 0.65);
// 次要字体颜色
@text-color-secondary: rgba(0, 0, 0, 0.45);
// 主题色下的字体颜色
@primary-text-color: #fff;
// 分割线颜色
@divider-color: #e8e8e8;
// 主要内容区域背景色
@main-bg-color: #fff;
// app背景色
@app-bg-color: #f5f7f9;
