@import './style/color.less';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

html,
body {
  height: 100%;
  background-color: @app-bg-color;
}

#root {
  height: 100%;
  min-height: 100%;
  display: flex;
}

.main-content-wrapper {
  position: relative;
  flex: auto;
  height: 100%;
  overflow: auto;
  padding: 20px;
  padding-top: 30px;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 30px;
    -webkit-app-region: drag;
  }
  & > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    header {
      flex-shrink: 0;
      font-size: 18px;
      margin-bottom: 20px;
      hr {
        border: 1px solid @divider-color;
      }
    }
    main {
      padding: 20px;
      background-color: @main-bg-color;
      flex: auto;
      overflow: scroll;
    }
    footer {
      padding: 20px;
      background-color: @main-bg-color;
      flex-shrink: 0;
    }
  }
}

.ant-btn-primary {
  background-color: @primary-color;
  border-radius: 4px;
}
